<div class="panel panel-bordered">
  <div class="panel-body">
    <h4>Block Already Exists</h4>
    <p>This block is already Exist on same Page.</p>
  </div>
  <div class="panel-footer pull-right">Edwiser RemUI</div>
</div>