<div class="panel panel-bordered">
  <div class="panel-body">
    <h4>Set the configuration.</h4>
    <p>Turn on the Customisation.</p>
    <p>Goto Edwiser Remui Block setting.</p>
    <p>Change the value ( Edwiser RemUI blocks )</p>
  </div>
  <div class="panel-footer pull-right">Edwiser RemUI</div>
</div>